div {
  display: block;
}

.flex-box {
  display: flex;
}


.item-name {
  font-family: 'Helvetica Neue';
  font-style: bold;
  color:rgba(45, 44, 44, 0.892);
  font-size: 18px;
}

h1 {
  font-family: 'Mukta', sans-serif;
  color: rgba(33, 32, 32, 0.879);
  font-size: 24px;
}

.item-brand {
  font-family: 'Noto Sans', sans-serif;
  color: rgba(62, 58, 58, 0.954);
  font-size: 0.65em;
}

.item-price {
  font-family: 'Lato', sans-serif;
  color: rgba(111, 109, 109, 0.954);
  font-size: 14px;
}

.item-rating-count {
  font-family: 'Lato', sans-serif;
  color: rgba(111, 109, 109, 0.954);
  font-size: 12.5px;
}

button {
  border-radius: 50%;
  height: 40px;
  bottom: initial;
  background: #f9f8f6;
  box-shadow: 0 0.4rem 0.4rem 0 rgba(12,11,8,.2);
  border: none;
  outline: none;
}

.item-brand:hover, .item-name:hover {
  text-decoration: underline;
}

img {
  width:  150px;
  height: 150px;
  object-fit: contain;
}

.flex-item-content {
  word-wrap: break-word;
}

.carousel-enter {
  transform: translateX(100vw);
}

.carousel-enter.carousel-enter-active {
  transform: translateX(0);
  transition: all 500ms ease-in-out;
}

.carousel-leave {
  transform: translateX(0);
}

.carousel-leave.carousel-leave-active {
  transform: translateX(-100vw);
  transition: all 500ms ease-in-out;
}