.title {
  font-family: 'Mukta', sans-serif;
  color: rgba(12, 11, 8, .75);
  font-size: 22px;
}


.fa {
  margin-left: 5px;
  margin-right: 5px;
  color: rgba(52, 50, 50, 0.8);
}

.fa-star-half-alt, .fa-star {
  font-size: 0.73em;
  color: rgba(245, 196, 111, 0.92);
}

.arrow {
  border: solid rgb(57, 55, 55);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  opacity: 0.55;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.item-name {
  font-family: 'Lato', sans-serif;
  font-style: bold;
  color: rgba(12, 11, 8, .90);
  font-size: 17px;
}

.item-brand {
  font-family: 'Noto Sans', sans-serif;
  color: rgba(108, 105, 105, 0.85);
  font-size: 0.7em;
  margin-bottom: 2px;
}

.item-price {
  font-family: 'Lato', sans-serif;
  color: rgba(85, 83, 83, 0.85);
  font-size: 13px;
}

.item-rating-count {
  font-family: 'Lato', sans-serif;
  color: rgba(111, 109, 109, 0.954);
  font-size: 12.5px;
}

button {
  border-radius: 50%;
  height: 40px;
  bottom: initial;
  background: #f9f8f6;
  box-shadow: 0 0.4rem 0.4rem 0 rgba(12,11,8,.2);
  border: none;
  outline: none;
}

.item-brand:hover, .item-name:hover {
  text-decoration: underline;
}

img {
  width:  150px;
  height: 150px;
  object-fit: contain;
}

.carousel-enter {
  transform: translateX(-100vw);
}

.carousel-enter.carousel-enter-active {
  transform: translateX(0);
  transition: all 1500ms ease-in-out;
}

.carousel-leave {
  transform: translate(400, -100);

}

.carousel-leave.carousel-leave-active {
  transform: translateX(-100vw);
  transition: all 1500ms ease-in-out;
}